@mixin respond-to($size, $dir) {
  @if ($size == retina) {
    @media only screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2.0) {
      @content;
    }
  } @else if ($size and $dir) {
    @media screen and (#{$dir}-width: ($size + px)) {
      @content;
    }
  }
}

@mixin vertical-align($block: inline-block, $align: middle) {
  display: $block;
  vertical-align: $align;
}

@mixin remove-whitespace($apply-to: none, $setsize: $font-size) {
  @if ($apply-to == none) {
    font-size: 0;
  } @else if ($apply-to == all) {
    font-size: 0;

    > * {
      font-size: $setsize;
    }
  } @else {
    font-size: 0;

    #{$apply-to} {
      font-size: $setsize;
    }
  }
}

@mixin clearfix($extend: true) {
  @if $extend {
    @extend %clearfix;
  } @else {
    &::after {
      clear: both;
      content: '';
      display: table;
      height: 0;
    }
  }
}

%clearfix {
  @include clearfix($extend: false);
}

%hidden {
  display: none;
  visibility: hidden;
}

%visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

@mixin multiple-media($media...) {
  @each $query in $media {
    @include media($query) {
      @content
    }
  }
}
