.page-header {
  background-color: $color-brand;
  height: $header-height;

  h1 {
    color: $cotton-candy;
    font: {
      family: $font-family;
      size: 55px;
    }
    margin: 70px 0 20px;
  }
}

.page-brand {
  box-sizing: border-box;

  @include media($small-screen) {
    @include span-columns(2);
    text-align: center;
  }

  @include media($medium-screen) {
    @include span-columns(4);
    text-align: center;
  }

  @include media($large-screen) {
    @include span-columns(3);
    padding-left: 20px;
  }

  @include media($xl-screen) {
    @include span-columns(4);
    padding-left: 0;
  }
}
